<!DOCTYPE html>
<html>
<%- include('heade') -%>

<body>

<center class="mt-5">
	<h2>JavaScript While Loop</h2>
    <p id="timer" style="font-size:5rem; ">5</p>
    <button class="btn btn-success disabled"> wait... </button>
</center>


<%- include('footer') -%>
<%- include('bootstrap_scripts') -%>

    <script> 
      let timer = document.querySelector("#timer");
      let btn = document.querySelector("button");
      let time = 5;
      //10 let i = parseInt(timer.innerText)

      setInterval(function(){
        time--;
        if(time >= 0){
          timer.innerHTML = time;
        }
        if (time == 0) {
       	  btn.innerHTML = "Get Link";
       	  btn.classList.remove("disabled")
	      const redirectMe = () => {
	  		window.location.href = "/test2"
	  	  }
      	  btn.addEventListener("click", redirectMe)
        }
      }, 1000);

    </script>
</body>
</html>